<div class="row ng-cloak create-event-form" data-ng-init="init()">
  <div class='create-form-section' id="braintree-set">
    <form [formGroup]="newEventForm" (submit)="createEvent()" name="event_form" style="width: 100%;">
      <div class="row">
        <div class="large-4 medium-12 small-12 columns column-first">
          <input type="radio" class="hidden" checked="checked" name="sign" id="new-season">
          <h1>New Event </h1>
          <a title="Help" href=""
            onclick=" javascript:introJs().setOptions({'showProgress': true, 'showStepNumbers': false}).start();"
            id="login_box_button" class="help_button"><i class="fa fa-info-circle"
              aria-hidden="true"></i>&nbsp;<span>Help</span></a>


          <div class="flex-row">
            <div class="flex-item">
              <!-- <div class="is-floating-label"> -->
                <label class="mandatory_field" data-step="1" data-intro="Name of the Event." style="    color: #747f85;">Event Name</label>
                <input type="text" form="event_form_novalidated" name='event_name' placeholder="" id='event_name'
                  minlength="3" maxlength="50" value=""  formControlName="eventname" form="season_form_novalidated" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['eventname'].errors } "required   /> 
                  <span class="mandatoryfld_lbl">
                
                    <div *ngIf="submitted && f['eventname'].errors" class="invalid-feedback">
                      <div *ngIf="f['eventname'].errors['required']">Eventname is required</div>
                      <div *ngIf="f['eventname'].errors['minlength']">Eventname must be at least 6 characters</div>
                      <div *ngIf="f['eventname'].errors['maxlength']">
                        Eventname must not exceed 20 characters
                      </div>
                    </div>
                </span>
              </div>
            </div>
     


          <div class="flex-row">
            <div class="flex-item image-item">
              <!-- <div class="is-floating-label"> -->
                <label class="flex-label" data-step="2" data-intro="Description of the Event.">Description</label>
                <textarea id='event_description' formControlName="description" form="event_form_novalidated" name='event_description' placeholder=""  [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
                  maxlength='420' value="event description" ></textarea>
                  <span class="mandatoryfld_lbl">
                
                    <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                      <div *ngIf="f['description'].errors['required']">Description is required</div>
                      <div *ngIf="f['description'].errors['minlength']">Description must be at least 20 characters</div>
                      <div *ngIf="f['description'].errors['maxlength']">
                        Teamname must not exceed 100 characters
                      </div>
                    </div>
                </span>
              <!-- </div> -->
            </div>
          </div>
          <div class="flex-row">
            <div class="flex-item">
              <label class="label-custom" data-step="3" data-intro="URL of Event to share on social media."
                for="event_webUrl">Custom URL <i title="Copy URL" (click)="cp.copy()" 
                  class="icon-copy" aria-hidden="true">
                  <img src="../assets/img/icon_copy_url.png"></i></label>
              <div class="input-field">
                <div class="input-group" ngxCopyPaste #cp="copy">
                  <label class="input-group-label" for="event_webUrl">Tournamentedition.com/event/</label>
                  <input type="text" formControlName="customurl"    [ngClass]="{ 'is-invalid': submitted && f['customurl'].errors }"form="event_form_novalidated" class="input-group-field" minlength="3"
                    maxlength="100" placeholder="" name="event_webUrl" id="event_webUrl" disallow-spaces formControlName="customurl">
                </div>
                <span class="mandatoryfld_lbl">
                 
                
                  <div *ngIf="submitted && f['customurl'].errors" class="invalid-feedback">
                    <div *ngIf="f['customurl'].errors['required']">Web Url must be at least 3 characters</div>
                   
                  </div>
              </span>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-item  input-block complete">
              <label class="flex-label" data-step="4" data-intro="Location of your event."
                for="autoCompleteDivLocationForEvent_value">Location</label>
              <input type="hidden" value="event latLong" id="hdnLatLong" />
              <input type="input" class="input-group-field" id="hdnformatedAdress" placeholder="Search Location..."
                formControlName="location" />
                <span class="mandatoryfld_lbl">
                
                  <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
                    <div *ngIf="f['location'].errors['required']">Location is required</div>
                    
                  </div>
              </span>
            </div>
          </div>

          <div class="flex-row row">
            <div class="flex-item left-column large-6 medium-6 small-12 columns">
              <label class="mandatory_field fixed-label" data-step="5" data-intro="Start date of Event"
                for="event_startDate">Start Date</label>
                
              <div class="is-floating-label">

                <input type="date"  formControlName="sdate"    [ngClass]="{ 'is-invalid': submitted && f['sdate'].errors }"form="event_form_novalidated"  placeholder="MM-DD-YYYY"
                  class="date_calender" name="event_startDate" id="event_startDate" ng-model="startDate" datetime-picker
                  date-only date-format="MM-dd-yyyy" future-only required />
                <span class="icon-calendar"><img src="../assets/img/icon_calendar.png"></span>
                <span class="mandatoryfld_lbl">
                
                  <div *ngIf="submitted && f['sdate'].errors" class="invalid-feedback">
                    <div *ngIf="f['sdate'].errors['required']">Start Date is required</div>
                    
                  </div>
              </span>
            </div>
          </div>  




                  <ng-template #mymodal1 let-modal>
                    <div class="popup-box">
                      <div class="container">
                        <div class="heading">
                          <div class="modal-heading">
                            <h6>Upload Picture</h6>
                            <a class="close-reveal-modal" title="Close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <div title="Close" class="closebtn ngdialog-close" style="padding-left: 40px;"></div>
                            </a>
                          </div>
                        </div>
                        <div id="upload-demo" class="croppie-container" style="margin: 10px;
                          border: dashed 1px #43464d;">
                          <img src="../../../assets/img/user.png" style=" height: 50%; width: 90%; margin: 10px;" [src]="imageSrc" *ngIf="imageSrc">
                          <div class="cr-boundary" aria-dropeffect="none">
                  
                            <div class="cr-viewport cr-vp-square" tabindex="0">
                              <div class="slide-container">
                                <input type="range" min="1" max="100" value="50" class="slider" id="myRange" aria-valuenow="100">
                              </div>
                              <div class="file">
                                <input type="file" name="file" class="file"
                                  style="border: solid 1px #43464d; border-radius: 0px;" (change)="onFileChange($event)">
                                <input type="submit" class="done" value="Done" (click)="show()">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>



                
                  
              

            <div class="flex-item right-column large-6 medium-6 small-12 columns">
              <label class="mandatory_field fixed-label" data-step="6" data-intro="End date of Event"
                for="event_endDate">End Date</label>
              <div class="is-floating-label">
                <input type="date" form="event_form_novalidated"   formControlName="edate"    [ngClass]="{ 'is-invalid': submitted && f['edate'].errors } "placeholder="MM-DD-YYYY"
                  class="date_calender" name="event_endDate" id="event_endDate" ng-model="endDate" datetime-picker
                  date-only date-format="MM-dd-yyyy" required />

                <span class="icon-calendar"><img src="../assets/img/icon_calendar.png"></span>
                <span class="mandatoryfld_lbl">
                 
                
                  <div *ngIf="submitted && f['edate'].errors" class="invalid-feedback">
                    <div *ngIf="f['edate'].errors['required']">Start Date is required</div>
                   
                  </div>
              </span>
              </div>
            </div>
          </div>


          <div class="flex-row row">
            <div class="left-column input-block large-6 medium-6 small-12 columns">
              <label class="flex-label" data-step="7" data-intro="Enter price if paid event. Leave off if free"
                for="paid">Paid Event</label>
              <div class="switch round tiny">
                <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch" formControlName="paidevent" [ngClass]="{ 'is-invalid': submitted && f['paidevent'].errors }" >
                <label class="switch-paddle" for="exampleSwitch">
                  <span class="show-for-sr">Download Kittens</span>
                </label>
                <span class="mandatoryfld_lbl">
                 
                
                  <div *ngIf="submitted && f['paidevent'].errors" class="invalid-feedback">
                    <div *ngIf="f['paidevent'].errors['required']">Download Kittens</div>
                   
                  </div>
              </span>
              </div>
            </div>
            <div class="right-column input-block large-6 medium-6 small-12 columns"></div>
          </div>
          <!-- <div ng-show="stripe.paid">
            <div class="smallheadwidth" ng-include="'te_tournament/paidStripe.html'"></div>
          </div> -->


          <div class="flex-row">
            <div class="flex-item image-item">
              <label class="flex-label" data-step="8" data-intro="Upload 400px X 400px picture" for="user_image">Upload
                Picture</label>
              <div class="row">
                <div class="left-column large-4 medium-3 small-6 columns">
                  <div id="user_image">
                    <img alt="Choose a picture" src='assets/img/my-account-placeholder.png'  *ngIf="!upload1" title="Choose a picture"
                    width="150" height="150" id="my-account-profile-image" (click)="open1(mymodal1)" class="form-control">
                    
                    <img alt="Choose a picture"  *ngIf="upload1" title="Choose a picture"
                    width="150" height="150" id="my-account-profile-image" [src]="uploadimageSrc" (click)="open1(mymodal1)" class="form-control" >
                      <span class="mandatoryfld_lbl">
                        
                
                        <!-- <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                          <div *ngIf="f['image'].errors['required']">Image is required</div>
                        
                        </div> -->
                    </span>
                    <button type="button" class="removeOldImage msg_button bgradient-red" title="Remove Image">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
                <div class="large-6 medium-6 small-6 columns">
                  <p class="help-text">Click here to upload picture.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->

        <div class="large-4 medium-12 small-12 columns column-second">
          <div class="flex-row">
            <div class="" id="buttonset">
              <button title="Cancel" type="button" class="btn-block red "  (click)="onReset()">
                <span>Cancel</span>
              </button>
              <button title="ok" type="submit" class="btn-block"  >
                <span>Create</span>
              </button>
            </div>
          </div>

        </div>

    </div>
    </form>
  </div>
</div>