.container .card-header h1{
    color: #fff;
    font-size: 26px;
    margin: 27px 173px;
}
    

#container{
    background-color:#070c10;
}
.card{
    background-color: #0e161b;
    margin-right: 50px;
    margin-left: -123px;
    display: table-caption;
}
.container .card-body mat-label{
    color: #fff;
}
input{
   
     font-size: 18px;
    font-family: robotobold;
    text-align: center;
    letter-spacing: 1px;
    
    padding-top: 0px;
    background-color: #0e161b;
    border: none; 
    border-bottom: 1px solid #676d75;
    position: relative;
    
    
}
mat-form-field{
    width: 100%;
}

.btn-danger{
    margin-left: 544px;
    margin-top: -1124px;
    border-radius: 0;
}
.btn-primary{
    margin-left: 667px;
    margin-top: -1184px;
    border-radius: 0;
}
    

#payment mat-label, #registration mat-label{
    color: #3988ba;
    font-size: 20px;
    font-family: robotobold;
    font-weight: bold;
}
#payment input, #registration input{
    
    border-bottom: 1px solid #676d75;
}

.help a{
    display: flex;
    color: blue;
    padding-left: 400px;
    text-decoration: none;
    font-size: 14px;
    
}
.help mat-icon{
    font-size: 16px;
}
li{
    list-style: none;
    
}

.row mat-error{
    color: red;
    font-size: 14px;
}
 #upload, #edate, #sdate, #payment, #registration{
   padding-left: 20px;
}
.col-3{
    margin-left: 124px;

}
.col-12{
    padding: 10px 0 0;
    width: 85%;
    margin-left: 27px;
}
.card-header{
    margin-left:-157px;
}
.help{
    margin-left: 166px;
}
.help > a > li{
    color: #3988ba;
}
.card{
    width: 121%;
}

.popup-box {
    position: fixed;
    text-align: -webkit-center;
    padding-top: 70px;
    z-index: 99999 !important;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    margin-left: 187px;
    margin-top: -23px;
  }
  .closebtn {
    background: url(../../../assets/img/@2x-close_button.svg) 0 0 no-repeat;
    width: 30px;
    height: 30px;
    display: block;
  }
  .ngdialog_box {
    background: rgba(0, 0, 0, 0.4);
    animation: ngdialog-fadein 0.5s;
  }
  .form-item {
    background: transparent;
    animation: ngdialog-fadein 0.5s;
    pointer-events: all;
  }
  .main_container {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 100px;
    width: 40%;
    border: 0;
    background-color: #2e3339;
    box-sizing: inherit;
    border-radius: 0 !important;
  }
  .modal-header {
    display: flex;
    background-color: #3e4347;
    height: 58px;
    width: 100%;
    align-items: center;
    box-shadow: 0 3px 9px 0 rgb(0 0 0 / 35%);
    justify-content: space-between;
  }
  .modal-header h1 {
    font-size: 22px;
    padding:20px;
    padding-top: 10px;
  }
  .form-item {
    background: transparent;
    animation: ngdialog-fadein 0.5s;
    pointer-events: all;
    padding: 20px;
  }
  form {
    padding: 25px;
  }
  form label {
    float: left;
    color: #949494;
  }
  form a {
    float: right;
    top:20%;
    padding-left: 20px;
  }
  form input {
    box-shadow: none;
    background: 0 0;
    border: 0;
    border-bottom: #676d75 solid 1px;
  }
  form input::placeholder {
    color: #949494;
  }
  form .btn-one{
    padding: 7px 10px;
    margin: 5px 0 0 5px;
    background: #3c95cd;
  }
  .close-reveal-modal{
    padding-left: 40px;
  }
  




