<div class="content-header-wrapper">
    <div class="content-header">
        <h1>FAQs</h1>
    </div>
</div>

<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Basics</a></li>
		<li><a class="" href="#tournaments">Tournaments</a></li>
		<li><a class="" href="#events">Events</a></li>
		<li><a class="" href="#profile">Profile</a></li>
		<li><a class="" href="#miscellaneous">Miscellaneous</a></li>
		<li><a class="" href="#app">App</a></li>
	</ul>
	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Basics</h2></li>
			<li><a class="cd-faq-trigger" href="#0">How easy is it to
					sign up for Tournament Edition?</a>
				<div class="cd-faq-content">
					<p>You can simply sign up for Tournament Edition with your
						Facebook, Email and Twitch.</p>
				</div></li>
		</ul>
		<ul id="tournaments" class="cd-faq-group">
		    <li class="cd-faq-title"><h2>Tournaments</h2></li>
		    <li><a class="cd-faq-trigger" href="#0">How do I Register
					for a tournament?</a>
				<div class="cd-faq-content">
					<p>Click on tournament you would like to sign up for. An option
						below the tournament information appears on the right side and
						click on Register. Now just wait for Tournament Organizer to
						accept it. That's it!</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">How do I create a
					tournament?</a>
				<div class="cd-faq-content">
					<p>Login to TE. Click on Tournaments on the navigation bar.
						Click on Create New. Fill in information for your tournament such
						as Name, Start and End date, Game Type, Game name etc. Then Click
						Create and that is it!</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">How do I start a
					tournament?</a>
				<div class="cd-faq-content">
					<p>Once your tournament is set with all the information simply
						click on the Start. Your tournament is ready to go!</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">How do I add/invite
					players to my tournaments?</a>
				<div class="cd-faq-content">
					<p>After your tournament is created click on Manage Players in
						the bottom right hand side. You have 3 ways of adding people to a
						tournament. Invite- Allows TO's to type in a players that have a
						TE account and send an invite notification. Bulk- Allows for TO's
						to allow anyone even without an account to be added and as well as
						a copy & paste style format but players profiles are not saved. Team- Allows for teams or individual
						players of a team to be invited.</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">What does Generate
					Pools mean?</a>
				<div class="cd-faq-content">
					<p>When you add players to a tournament you can select to
						Generate Pool. This allows TO's to create the amount of players to
						be in each pool. If Pool size is bigger than players added. A Bye
						will be in place of the amount. This would allow players to be
						added at a later time if need be without disrupting the
						Tournament.</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">Oh no I put in the
					wrong information for my tournament now what do I do!?</a>
				<div class="cd-faq-content">
					<p>You can edit any of your information you put in previously
						just by clicking on the Edit button on your tournament page as
						long as you have not started the tournament. If you have already
						started your tournament you can still edit some of the information
						though.</p>
				</div></li>
		</ul>
		<ul id="events" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Events</h2></li>
			<li><a class="cd-faq-trigger" href="#0">How do I create an
					Event?</a>
				<div class="cd-faq-content">
					<p>Login to TE. Click on Events on Navigation bar. Click on
						Create New. Fill in information for your Event. Then Click Create
						and that's it.</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">Great I made my
					Event but how do I add my Tournaments to it?</a>
				<div class="cd-faq-content">
					<p>Once your Event has been created click on your Event that
						you want to add your tournament to. Then click on the Add
						Tournament button. The next screen should show you a list of all
						your tournaments. Simply click on the tournament that you want to
						add and that's it!</p>
				</div></li>
		</ul>
		<ul id="profile" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Profile</h2></li>
			<li><a class="cd-faq-trigger" href="#0">How do I edit any of
					my Profile/Account setting?</a>
				<div class="cd-faq-content">
					<p>Click on "My Profile" at the top of the Navigation bar. Then
						click "Edit Profile". There will be various options for you to
						change. Such as Display Name, Email, Location, User Picture, etc.</p>
				</div></li>
		</ul>
		<ul id="miscellaneous" class="cd-faq-group">
		    <li class="cd-faq-title"><h2>Miscellaneous</h2></li>
			<li><a class="cd-faq-trigger" href="#0">What is the
					difference between Tournaments, Events and Seasons?</a>
				<div class="cd-faq-content">
					<p>Tournaments is where players actually get ranked and is
						individual. Events is used for a hub of tournaments. Seasons is a
						hub of Events. Think of Seasons as the Olympics then the Events
						are the track events and the Tournaments are the individual Men's
						400m.</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">How do I add admins
					to my tournaments/events/seasons?</a>
				<div class="cd-faq-content">
					<p>Go to your tournament info page. Then click on Staff next to
						your Edit button add staff member from your follower list and
						that's it! To add an admin to your tournament the user must have a
						TE account and must be following you.</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">I accidently clicked
					on a Tournament to be added to my Event I did not want to include!?</a>
				<div class="cd-faq-content">
					<p>Simply go to your Add Tournament button and click on the
						Tournament you want to remove and that is it!</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">What is the Hype
					feature?</a>
				<div class="cd-faq-content">
					<p>With Hype you can promote your tournaments and events to
						reach people on the local or national. It is $0.99 for 1 Hype to
						reach 100 people locally (via front page and hype on app 100 mile
						radius) or $1.99 for 1 Hype to reach 100 people nationally.</p>
				</div></li>
			<li><a class="cd-faq-trigger" href="#0">I have questions
					that aren't listed in the FAQ or videos what do I do?</a>
				<div class="cd-faq-content">
					<p>
						Please email us at <a
							href="mailto:Jonathanb@tournamentedition.com?Subject=Contact">Jonathanb@tournamentedition.com</a>
						and we will respond as soon as possible.
					</p>
				</div></li>
		</ul>
		<ul id="app" class="cd-faq-group">
			<li class="cd-faq-title"><h2>App</h2></li>
			<li><a class="cd-faq-trigger" href="#0">Player Submissions and Check In, TE Walk through.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/g-5QZmgxzi0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">Discord And TE Walk through.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/uJdAUyS4j50?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">TE Mobile Running and Resetting a Tournament. Sending Notifications and Tweets.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/wHHQTjedkfE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">TE mobile Registration and Bracket Making.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/hVVe5AItpVI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">TE Mobile, Creating, Seeding and Staffing a Tournament.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/ib_L0l-d1Lg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">Tournament Edition (Mobile) Hype Walk through.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/Iq1Y6Um9g08?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">Tournament Edition (Mobile) Teams Walk through.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/ZCL49PvgZmc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">Tournament Edition (Mobile) Events Walk through.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/rvl2M7lqhAY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">Tournament Edition (Mobile) Seasons Walk through.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/VIYr_kntZTM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">Tournament Edition (Mobile) Following, Followers, Message Walk through.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/KjDl-1dcIxM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
			<li><a class="cd-faq-trigger" href="#0">Tournament Edition (mobile) Signup, Dashboard, and Settings Walk through.</a>
				<div class="cd-faq-content">
					<p><iframe width="100%" height="315" src="https://www.youtube.com/embed/BlwZvf7mtkw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</li>
		</ul>
	</div>
	<a href="#0" class="cd-close-panel">Close</a>
</section>
