<div class="content-header-wrapper">
    <div class="content-header">
        <h1>About Us</h1>
    </div>
</div>

<!-- About us page content -->

<div class="About-us">
    <div class="expanded row our-story">
        <div class="columns large-12 medium-12 small-12 our-story">
            <div>
                <h1>Our Story</h1>
                <p>Wow thanks for coming to our About Us page! If you accidently clicked on the About Us its fine we
                    understand. We all misclick here and there. If it wasn’t an accident and you would like to know how
                    TE was made just continue reading and thank you!
                </p>
                <p>Tournament Edition was started with the dream to make running a tournament for an organizer easier to
                    manage while also making the lives of a player that much simpler. This dream has now become a
                    reality thanks to our team. We at TE have one goal and that is to be the very best like no one ever
                    was. Yes we went there. TE has expanded to not just becoming a simple tournament platform but also
                    to build a community together with a common interest. Need help with a tournament or have an idea to
                    help use improve, we are a simple tweet or email away!
                </p>
            </div>
        </div>
    </div>

    <div class="expanded row one-min-show">
        <div class="columns large-12 medium-12 small-12 one-min-show-video">
            <h1>The One minute show</h1>
            <div class="about-us-video-box"><a href="javascript:;" id="dataMedia"
                    data-media="https://www.youtube.com/embed/zJdAvQa0usU?rel=0&amp;autoplay=1"><img
                        src="assets/img/TE_aboutUs_video_icon.png" /></a></div>


        </div>
    </div>

</div>

<div id="subscribeform"></div>
