<div class="content-header-wrapper">
    <div class="content-header">
        <h1>Sitemap</h1>
    </div>
</div>

<!-- SiteMap page content -->

<div class="content-area sitemap-page">
    <div class="row">
        <div class="large-3 medium-3 small-12 columns">
        </div>
        <div class="large-9 medium-9 small-12 columns">
            <ul>
                <li><a href="/" title="Home" rel="nofollow">Home</a></li>
                <li><a href="/aboutus" title="About Us" rel="nofollow">About Us</a></li>
                <li><a href="/faq" title="FAQs" rel="nofollow">FAQs</a></li>
                <li><a href="/features" title="Features" rel="nofollow">Features</a></li>
                <li><a href="" title="Contact Us"
                        rel="nofollow" routerLink="/contactus">Contact Us</a></li>
                <li><a href="/privacy" title="Privacy Policy" rel="nofollow">Privacy Policy</a></li>
                <li><a href="/terms" title="Terms and Conditions" rel="nofollow">Terms and Conditions</a></li>
                <li><a href="/signin" title="Sign In" rel="nofollow">Sign In</a></li>
                <li><a href="/signup" title="Sign Up" rel="nofollow">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>