<div class="row">
    <div>
        <div class="large-12 columns">
            <ul class="breadcrumbs mp_breadcrumbs">
                <li><a href="entityId">TEAM</a></li>
                <li class="current">PLAYERS
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sha-box manage_players_wrapper" id="addStaffSection">
    <div class="row ribbonheighfix">
        <div class="large-8">
            <div class="manage_players_ribbon_parent">
                <div class="manage_players_back_ribbon bgradient"></div>
                <div class="manage_players_ribbon_child bgradient"></div>
                <div class="manage_players_ribbon_content">
                    <div class="listimg list-icon"></div>
                    <p class="ng-binding">MEMBER MANAGEMENT</p>
                </div>
            </div>
        </div>
    </div>
    <div class="manage_players_content">
        <div class="row">
            <div class="small-6 columns info_column">
                <div _ngcontent-aol-c226="" class="info_column">
                    <div class="team-head custhead">
                        <div class="teambnr-box"> <img src="https://s3.amazonaws.com/vgroup-tournament/e7a9f545-bd75-45f4-ba8a-a47f2cc9279e-1651317788211"></div>
                        <div class="teamname-box">
                            <h6 title="team" class="ng-binding">TEAM</h6>
                        </div>
                    </div>
                </div>
                <div class="large-4">
                    <div class="manage-players-search">
                    <input type="text" placeholder="Search for Player from followers">
                </div>
                </div>
            </div>
            <div id="paticipating-players" class="small-6 columns">
                <div class="row dark_grey pplayers extraheight">
                    <div class="large-7 small-6 columns">
                        <div class="pplayers-title" id="paticate-title">
                            <h6 class="ng-binding">PARTICIPATING PLAYERS</h6>
                        </div>
                    </div>
                   
                </div>
                <div id="paticipating-pl" class="row dark_grey pl15 pad-top-0">
                    <div class="bar dradAndDrop">
                        <div class="row collapse">
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
