input::placeholder {
  color: #fff;
}
input,
select,
textarea {
  color: #fff;
}
#container_image,
#user_image {
  text-align: left;
  margin-top: 5px;
}
.col_two h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;

  padding-top: 30px;
}
.col_two h2 {
  font-size: 22px;
  color: #3988ba;
  margin-bottom: 42px;
}
.men_toggle {
  font-size: 16px;
  color: #3988ba;
  cursor: default;
  font-weight: bold;
}
mat-slide-toggle {
  float: right;
}
.mat-slide-toggle {
  display: inline-block;
  height: 24px;
  max-width: 100%;
  line-height: 24px;
  white-space: nowrap;
  outline: none;
  float: right;
  -webkit-tap-highlight-color: transparent;
}

.toggle label {
  display: flex;
  justify-content: space-between;
  color: #747f85;
  font-size: 14px;
  border-bottom: #141c22 solid 1px;
  padding: 10px 0;
}

.setting-checkbox {
  border-bottom: #141c22 solid 1px;
  padding: 3px 0;
}
.delete a {
  text-decoration: none;
  color: #cc4c4d;
}
.popup-box {
  position: fixed;
  text-align: -webkit-center;
  padding-top: 70px;
  z-index: 99999 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.closebtn {
  background: url(../../assets/img/@2x-close_button.svg) 0 0 no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
.ngdialog_box {
  background: rgba(0, 0, 0, 0.4);
  animation: ngdialog-fadein 0.5s;
}
.form-item {
  background: transparent;
  animation: ngdialog-fadein 0.5s;
  pointer-events: all;
}
.main_container {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 100px;
  width: 40%;
  border: 0;
  background-color: #2e3339;
  box-sizing: inherit;
  border-radius: 0 !important;
}
.modal-header {
  display: flex;
  background-color: #3e4347;
  height: 58px;
  width: 100%;
  align-items: center;
  box-shadow: 0 3px 9px 0 rgb(0 0 0 / 35%);
  justify-content: space-between;
}
.modal-header h1 {
  font-size: 22px;
  padding:20px;
  padding-top: 10px;
}
.form-item {
  background: transparent;
  animation: ngdialog-fadein 0.5s;
  pointer-events: all;
  padding: 20px;
}
/* form {
  padding: 25px;
} */
.form-group label {
  float: left;
  color: #949494;
}
.form-group a {
  float: right;
  top:20%;
  padding-left: 20px;
}
.form-group input {
  box-shadow: none;
  background: 0 0;
  border: 0;
  border-bottom: #676d75 solid 1px;
}
.form-group input::placeholder {
  color: #949494;
}
form .btn-one{
  padding: 7px 10px;
  margin: 5px 0 0 5px;
  background: #3c95cd;
}
.close-reveal-modal{
  padding-left: 40px;
}
  /* image popup modal css */
.slide-container {
  width: 300px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #13181b;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
  background:#13181b;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #dddddd;
  cursor: pointer;
}



.container {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 100px;
  width: 30%;
  border: 0;
  background-color: #2e3339;
  box-sizing: inherit;
  border-radius: 0 !important;
}

h6 {
  padding-left: 10px;
}

.modal-heading {
  border-bottom: 1px solid #43464d;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
  display: flex;
  background-color: #3e4347;
  align-items: center;
  box-shadow: 0 3px 9px 0 rgb(0 0 0 / 35%);
  justify-content: space-between;
}
.file{
  cursor: pointer;
  
}
.done{
  height: 30px;
  color: #fff;
  vertical-align: baseline;
  background: #3c95cd;
  background: -moz-linear-gradient(top,#3c95cd 10%,#2989d8 30%,#207cca 51%,#285588 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3c95cd),color-stop(50%,#2989d8),color-stop(51%,#207cca),color-stop(100%,#285588));
  background: -webkit-linear-gradient(top,#3c95cd 10%,#2989d8 30%,#207cca 51%,#285588 100%);
  background: -o-linear-gradient(top,#3c95cd 10%,#2989d8 30%,#207cca 51%,#285588 100%);
  background: -ms-linear-gradient(top,#3c95cd 10%,#2989d8 30%,#207cca 51%,#285588 100%);
   background: linear-gradient(to bottom,#3c95cd 10%,#2989d8 30%,#207cca 51%,#285588 100%);
   cursor: pointer;
}





.form-group{
  padding: 20px;
}
.form-group i{
float: right;
color:#207cca;
}