<div class="row">
    <div>
        <div class="large-12 columns">
            <ul class="breadcrumbs mp_breadcrumbs">
                <li><a href="entityId">SEASON1</a></li>
                <li class="current">ADD TOURNAMENTS
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sha-box manage_players_wrapper" id="addStaffSection">
    <div class="row ribbonheighfix">
        <div class="large-8">
            <div class="manage_players_ribbon_parent">
                <div class="manage_players_back_ribbon bgradient"></div>
                <div class="manage_players_ribbon_child bgradient"></div>
                <div class="manage_players_ribbon_content">
                    <div class="trophy"></div>
                    <p class="ng-binding">ADD TOURNAMENT</p>
                </div>
            </div>
        </div>
        <div class="large-4">
            <div class="row">
                <div class="large-4">
                    <div class="help">
                        <a>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <span>&nbsp;Help</span>
                        </a>
                    </div>
                </div>
                <div class="large-4">
                    <div class=searchb>
                        <input type="search" id="search" placeholder="Search">
                    </div>
                </div>
                <div class="large-4">
                    <div class="">
                        <div class="tddate right pt15 psides10 ng-scope">
                            <a class="blkbkg pool_button sqbtn tsize12 bgradient talignc ng-binding">GENERATE POOLS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="manage_players_content">
        <div class="row">
            <div class="small-6 columns info_column">
                <div _ngcontent-aol-c226="" class="info_column">
                    <tabset _ngcontent-aol-c226="" id="tstyle" class="tab-container">
                        <div class="tabs-content">
                            <tab heading="INVITE">
                                <div class="bar" id="panel2">
                                    <div class="upcoming_list">
                                        <div class="upcoming_list_child">
                                            <h6 id="invite-search-player" class="ng-binding">Search for Players</h6>
                                            <div class=search>
                                                <input type="search" id="search">
                                            </div>
                                        </div>
                                        <div id="loaders_upcoming">
                                            <div id="loader_image_upcoming" align="center">
                                                <img src="assets/img/ajax-loader.gif" alt="Loading next records"
                                                    title="Loading next records" width="25" height="25">Loading
                                                new tournaments, please wait...
                                            </div>
                                            <div id="loader_message_upcoming" align="right"></div>
                                        </div>
                                    </div>

                                </div>
                            </tab>
                            <tab heading="BULK">
                                <div class="bar" id="panel2">
                                    <div class="upcoming_list">
                                        <div class="upcoming_list_child">
                                            <h6 id="invite-search-player">Bulk Textbox</h6>
                                            <textarea required=""
                                                class="bulk_textbox ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern"
                                                placeholder="Enter Player name to add">
                                            </textarea>
                                            <span class="small-text">Add Players in Bulk (with new line OR commas
                                                separated) </span>
                                            <div class="pull-right">
                                                <input type="submit" value="Add Players"
                                                    class="button bulk_button btn-manage bgradient mtop-10 right">
                                            </div>
                                        </div>
                                        <div id="loaders_upcoming">
                                            <div id="loader_image_upcoming" align="center">
                                                <img src="assets/img/ajax-loader.gif" alt="Loading next records"
                                                    title="Loading next records" width="25" height="25">Loading
                                                new tournaments, please wait...
                                            </div>
                                            <div id="loader_message_upcoming" align="right"></div>
                                        </div>
                                    </div>

                                </div>
                            </tab>
                            <tab heading="TEAM">
                                <div class="bar" id="panel2">
                                    <div class="upcoming_list">
                                        <div class="upcoming_list_child">
                                            <h6 id="invite-search-player" class="ng-binding">Search for Team</h6>
                                            <div class=search>
                                                <input type="search" id="search">
                                            </div>
                                        </div>
                                        <div id="loaders_upcoming">
                                            <div id="loader_image_upcoming" align="center">
                                                <img src="assets/img/ajax-loader.gif" alt="Loading next records"
                                                    title="Loading next records" width="25" height="25">Loading
                                                new tournaments, please wait...
                                            </div>
                                            <div id="loader_message_upcoming" align="right"></div>
                                        </div>
                                    </div>

                                </div>
                            </tab>
                            <tab heading="REQUEST">
                                <div class="bar" id="panel2">
                                    <div class="upcoming_list">
                                        <div class="upcoming_list_child">
                                            <tabset id="tstyle" class="tab-container">
                                                <div class="tabs-content">
                                                    <tab heading="INVITATIONS">
                                                        <div class="bar" id="panel2">
                                                            <div class="upcoming_list">
                                                                <div class="upcoming_list_child">
                                                                    <div id="register_list">No Invitations.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tab>
                                                    <tab heading="REGISTRATIONS">
                                                        <div class="bar" id="panel2">
                                                            <div class="upcoming_list">
                                                                <div class="upcoming_list_child">
                                                                    <div id="register_list">No registration request for
                                                                        approval.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tab>
                                                    <tab heading="REMOVAL">
                                                        <div class="bar" id="panel2">
                                                            <div class="upcoming_list">
                                                                <div class="upcoming_list_child">
                                                                    <div id="register_list">No removal request for
                                                                        approval.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tab>
                                                </div>
                                            </tabset>
                                        </div>
                                        <div id="loaders_upcoming">
                                            <div id="loader_image_upcoming" align="center">
                                                <img src="assets/img/ajax-loader.gif" alt="Loading next records"
                                                    title="Loading next records" width="25" height="25">Loading
                                                new tournaments, please wait...
                                            </div>
                                            <div id="loader_message_upcoming" align="right"></div>
                                        </div>
                                    </div>

                                </div>
                            </tab>
                        </div>
                    </tabset>
                </div>
            </div>
            <div id="paticipating-players" class="small-6 columns">
                <div class="row dark_grey pplayers extraheight">
                    <div class="large-7 small-6 columns">
                        <div class="pplayers-title" id="paticate-title">
                            <h6 class="ng-binding">PARTICIPATING PLAYERS</h6>
                        </div>
                    </div>
                    <div class=" large-5 small-3 medium-6 pplayers-actions right ng-scope">
                        <a href="" class="right" id="btn-swap-seeds">
                            <div class="left">
                                <i class="fa fa-random">
                                </i>

                            </div>
                            <span class="left">Shuffle</span>

                        </a>
                        <a data-step="8" data-intro="Shuffle the layout of the pool."
                            ng-click="shufflePlayers(tournament.tournamentID)" class="right" id="shuffle_seeds"
                            title="Shuffle">
                            <div class="left">
                                <i class="fas fa-exchange-alt"></i>
                                <span class="left">Swap Seeds</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="paticipating-pl" class="row dark_grey pl15 pad-top-0">
                    <div class="bar dradAndDrop">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>