<div class="banner-img features_overlay" id="banner-img1">
    <div class="top-banner-area">
        <h1>
            <i>Features to know</i>
        </h1>
        <ul id="app-devices">
            <li class="devices-watch">
                <img src="./assets/img/feature-watch.png">
            </li>
            <li class="devices-ios">
                <img src="./assets/img/feature-mobile-ios.png">
            </li>
            <li class="devices-android">
                <img src="./assets/img/feature-mobile-android.png">
            </li>
        </ul>
    </div>

</div>

<div class="large-centered" id="TEfeatures">


    <ul class="slider slider-for tabs-content">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">


            <li ngxSlickItem class="slider-content content-1 slide">


                <div class="even-row">
                    <div class="content-area content-add-staff first-feature row">
                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle text-center">
                            <img src="./assets/img/icon-addstaff.png">
                        </div>
                    </div>
                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle">
                            <div class="my-auto">
                                <h3>Can’t run a big tournament without any help?</h3>
                                <p>Tournament Edition (TE) allows for you to have your friends and volunteers help run
                                    the event
                                    directly
                                    from the website or our app!</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                <div class="odd-row">
                    <div class="content-area content-pools-brackets  row">
                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle">
                                <h3>No more confusing bracket!</h3>
                                <p>A simple and sleek looking bracketing system.</p>
                            </div>
                        </div>

                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle  text-center">
                                <img src="./assets/img/icon-pools.png">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="even-row">
                    <div class="content-area content-intelligent-seed  row">
                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle  text-center">
                                <img src="./assets/img/icon-intelligent-seed.png">
                            </div>
                        </div>

                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle">
                                <h3>Save your time with our seeding system!</h3>
                                <p>Automatic seeding of players in pool! Which of course you can always change.</p>
                                <i>Patented Feature</i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="odd-row">
                    <div class="content-area content-offline-mode  row">
                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle">
                                <h3>No Wifi no problem!</h3>
                                <p>Remember printing the brackets? No more! TE now works offline without the need to
                                    print
                                    anything!
                                    You save trees and look good while doing so. Oh did we forget to say it can be
                                    re-synced
                                    by
                                    you
                                    later on? :P</p>
                                <i>Patented Feature</i>
                            </div>
                        </div>

                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle  text-center">
                                <img src="./assets/img/icon-offline.png">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="even-row content-realtime">
                    <div class="content-area  row">
                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle  text-center">
                            <img src="./assets/img/icon-notification-popup.png" style="display: inline-block;">
                        </div> </div>

                        <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                            <div class="cell align-self-middle">
                            <h3>Real Time Push Notifications FTW</h3>
                            <p>Never be late to tournaments again! Need to make a last minute change? No more losing
                                your
                                voice
                                from screaming for players to check in. Simply receive notifications straight on your
                                phone!
                            </p>
                            <i>Patented Feature</i>
                        </div> </div>
                    </div>
                </div>




                <div class="odd-row">
                    <div class="content-other-features ">
                        <ul class="row">
                            <li class="large-3 medium-3 small-6 columns">
                                <div class="other-feature-img">
                                    <img src="./assets/img/icon-otherfeature1.png">
                                </div>
                                <h4>Create a tournament in under a minute</h4>
                                <p>Simply fill in 4 fields such as the Name, Date, Game, and Style and you are done!
                                </p>
                            </li>

                            <li class="large-3 medium-3 small-6 columns">
                                <div class="other-feature-img">
                                    <img src="./assets/img/icon-otherfeature1.png">
                                </div>
                                <h4>Follow your favorite players! </h4>
                                <p>Yes you can follow your favorite players and know what tournaments they are
                                    participating
                                    in!
                                </p>
                            </li>

                            <li class="large-3 medium-3 small-6 columns">
                                <div class="other-feature-img">
                                    <img src="./assets/img/icon-otherfeature1.png">
                                </div>
                                <h4>Link your Twitch and Twitter with TE!</h4>
                                <p>Post your tournaments on Twitter directly from the app and link it with your stream!
                                </p>
                            </li>

                        </ul>

                    </div>
                </div>


            </li>




            <li ngxSlickItem class="slider-content content-2 slide">
                <div class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">


                    <div class="even-row">
                        <div class="content-area first-feature row">
                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle  text-center">
                                <img src="./assets/img/icon-location.png">
                            </div></div>

                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle">

                                    <h3>Location Creation</h3>
                                    <p>Have you heard about an event right down the street only after its over? Yea we
                                        are
                                        familiar with that too. TE allows for you to see what tournaments are going
                                        around in
                                        your area just check under Calendar! </p>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="odd-row">
                        <div class="content-area  row">
                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle">
                                <h3>URL Invites</h3>
                                <p>Work offline and resync later. printing and typesetting industry.</p>

                            </div> </div>

                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle  text-center">
                                <img src="./assets/img/icon-url.png">
                            </div>
                        </div>
                        </div>
                    </div>



                    <div class="even-row">
                        <div class="content-area  row">
                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle  text-center">
                                <img src="./assets/img/icon-profiles.png">
                            </div></div>

                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle">
                                <h3>Create your own Player Profile</h3>
                                <p>Yes you read that correctly. Keep track of all the tournaments you played in and
                                    follow
                                    your friends and rivals to see how they are doing as well! </p>
                                <i>Patented Feature</i>
                            </div>
                        </div>


                        </div>
                    </div>


                    <div class="odd-row">
                        <div class="content-area  row">
                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle">
                                <h3>Been Late to a tournament before?</h3>
                                <p>TE allows for you to send a message to the TO of a tournament directly before a
                                    tournament starts to allow you to check in automatically!</p>

                            </div></div>

                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle  text-center">
                                <img src="./assets/img/icon-patent.png">
                            </div></div>
                        </div>
                    </div>


                    <div class="even-row">
                        <div class="content-area  row">
                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle  text-center">
                                <img src="./assets/img/icon-multiplatform.png">
                            </div></div>

                            <div class="large-6 medium-6 small-12 columns grid-x grid-padding-x">
                                <div class="cell align-self-middle">
                                <h3>Cross platform Sync!</h3>
                                <p>Continue looking at the brackets from your phone to computer back to your phone!</p>
                                <i>Patented Feature</i>
                            </div></div>

                        </div>
                    </div>

                </div>
            </li>
        </ngx-slick-carousel>
    </ul>
</div>
