<div class="row ng-cloak create-event-form" data-ng-init="init()">
    <div class='create-form-section' id="braintree-set">
      <form name="season_form" style="width: 100%;">
        <div class="row">
          <div class="large-4 medium-12 small-12 columns column-first">
            <input type="radio" class="hidden" checked="checked" name="sign" id="new-season">
            <h1>Edit Season </h1>
            <a title="Help" href=""
              onclick=" javascript:introJs().setOptions({'showProgress': true, 'showStepNumbers': false}).start();"
              id="login_box_button" class="help_button"><i class="fa fa-info-circle"
                aria-hidden="true"></i>&nbsp;<span>Help</span></a>
  
  
            <div class="flex-row">
              <div class="flex-item">
                <!-- <div class="is-floating-label"> -->
                  <label class="mandatory_field" data-step="1" data-intro="Name of the Event." style="color: #747f85;">Season Name</label>
                  <input type="text" form="season_form_novalidated" name='season_name' placeholder="" id='season_name'
                    minlength="3" maxlength="50" value="" required />
                <!-- </div> -->
              </div>
            </div>
  
  
            <div class="flex-row">
              <div class="flex-item image-item">
                <!-- <div class="is-floating-label"> -->
                  <label class="flex-label" data-step="2" data-intro="Description of the Season.">Description</label>
                  <textarea id='season_description' form="season_form_novalidated" name='season_description' placeholder=""
                    maxlength='420' value="event description"></textarea>
                
                <!-- </div> -->
              </div>
  
              <div class="flex-item">
                <label class="label-custom" data-step="3" data-intro="URL of Event to share on social media."
                  for="season_webUrl">Custom URL <i (click)="cp.copy()" title="Copy URL"
                    class="icon-copy" aria-hidden="true"><img src="../assets/img/icon_copy_url.png"></i></label>
                <div class="input-field">
                  <div class="input-group" ngxCopyPaste #cp="copy">
                    <label class="input-group-label" for="season_webUrl">Tournamentedition.com/season/</label>
                    <input #formInputText type="text" form="season_form_novalidated" class="input-group-field" minlength="3"
                      maxlength="100" placeholder="" name="season_webUrl" id="season_webUrl" disallow-spaces>
                  </div>
                 
                </div>
              </div>
  
  
            </div>
  
  
            <div class="flex-row">
              <div class="flex-item">
                <label class="mandatory_field fixed-label" data-step="5" data-intro="Start date of Season"
                  for="season_startDate">Start Date</label>
                <div class="is-floating-label">
  
                  <input type="text" form="season_form_novalidated" readonly="readonly" placeholder="MM-DD-YYYY"
                    class="date_calender" name="season_startDate" id="season_startDate" ng-model="startDate" datetime-picker
                    date-only date-format="MM-dd-yyyy" future-only required />
                  <span class="icon-calendar"><img src="../assets/img/icon_calendar.png"></span>
                </div>
              </div>
            </div>
  
            <div class="flex-row">
              <div class="flex-item">
                <label class="mandatory_field fixed-label" data-step="6" data-intro="End date of Season"
                  for="season_endDate">End Date</label>
                <div class="is-floating-label">
                  <input type="text" form="season_form_novalidated" readonly="readonly" placeholder="MM-DD-YYYY"
                    class="date_calender" name="season_endDate" id="season_endDate" ng-model="endDate" datetime-picker
                    date-only date-format="MM-dd-yyyy" required />
  
                  <span class="icon-calendar"><img src="../assets/img/icon_calendar.png"></span>
                </div>
              </div>
            </div>
  
  
            <div class="flex-row">
              <div class="flex-item image-item">
                <label class="flex-label" data-step="8" data-intro="Upload 400px X 400px picture" for="user_image">Upload
                  Picture</label>
                <div class="row">
                <div class="left-column large-4 medium-3 small-6 columns">
                  <div id="user_image" enctype="multipart/form-data">
                    <img alt="Choose a picture" src='assets/img/my-account-placeholder.png' *ngIf="!upload1"
                      title="Choose a picture" width="150" height="150" id="my-account-profile-image" class="form-control"
                      (click)="open1(mymodal1)">
                    <img alt="Choose a picture" [src]="cropImgPreview" *ngIf="upload1" title="Choose a picture" width="150"
                      height="150" id="my-account-profile-image" class="form-control" (click)="open1(mymodal1)">
                    <span class="mandatoryfld_lbl">
                    </span>
                    <button type="button" class="removeOldImage msg_button bgradient-red" title="Remove Image" *ngIf="upload1" (click)="removeImage()">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
                <div class="large-6 medium-6 small-6 columns">
                  <p class="help-text">Click here to upload picture.</p>
                </div>
              </div>
              </div>
            </div>
          </div>

          <ng-template #mymodal1 let-modal>
            <div class="popup-box">
              <div class="container">
                <div class="heading">
                  <div class="modal-heading">
                    <h6>Upload Picture</h6>
                    <a class="close-reveal-modal" title="Close" aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                      <div title="Close" class="closebtn ngdialog-close" style="padding-left: 40px;"></div>
                    </a>
                  </div>
                </div>
                <div id="upload-demo" class="croppie-container" style="margin: 10px;
                  border: dashed 1px #43464d;">
                  <!-- <img src="../../../assets/img/user.png" style=" height: 50%;
          width: 90%;
          margin: 10px;" [src]="imageSrc" *ngIf="imageSrc" > -->
                  <image-cropper [imageChangedEvent]="imgChangeEvt" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                    [resizeToWidth]="256" format="png" (imageCropped)="cropImg($event)" (imageLoaded)="imgLoad()"
                    (cropperReady)="initCropper()" (loadImageFailed)="imgFailed()">
                  </image-cropper>
                  <div class="cr-boundary" aria-dropeffect="none">

                    <div class="cr-viewport cr-vp-square" tabindex="0">
                      <div class="slide-container">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange"
                          aria-valuenow="100">
                      </div>
                      <div class="file">
                        <input type="file" name="file" class="file"
                          style="border: solid 1px #43464d; border-radius: 0px;" multiple
                          (change)="onFileChange($event)" formControlName="imageKey">
                        <input type="submit" class="done" value="Done" (click)="show()"
                          (click)="modal.dismiss('Cross click')" (click)="uploadFiles()">
                        

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
  
          <div class="large-7 medium-12 small-12 columns column-second">
            <div class="flex-row">
              <div class="" id="buttonset">
                <button title="Cancel" type="button" class="btn-block red">
                  <span>Cancel</span>
                </button>
                <button title="ok" type="submit" class="btn-block">
                  <span>Save</span>
                </button>
              </div>
            </div>
  
          </div>
  
        </div>
      </form>
    </div>
  </div>
