<div class="row ng-cloak create-event-form" data-ng-init="init()">
  <div class='create-form-section' id="braintree-set">
    <form name="season_form" style="width: 100%;" [formGroup]="newTeamForm" (ngSubmit)=" createTeam()" >
      <div class="row">
        <div class="large-4 medium-12 small-12 columns column-first">
          <input type="radio"  class="hidden" checked="checked" name="sign" id="new-season">
          <h1>New Team </h1>
          <a title="Help" href=""
            onclick=" javascript:introJs().setOptions({'showProgress': true, 'showStepNumbers': false}).start();"
            id="login_box_button" class="help_button"><i class="fa fa-info-circle"
              aria-hidden="true"></i>&nbsp;<span>Help</span></a>
          <div class="flex-row">
            <div class="flex-item">
                <label class="mandatory_field"style="color: #747f85;">Team Name</label>
                <input type="text"  formControlName="name" form="season_form_novalidated" name='team_name' placeholder="" id='season_name' class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                  minlength="3" maxlength="50" value="" required /> 
                  <span class="mandatoryfld_lbl">
                
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                      <div *ngIf="f['name'].errors['required']">Teamname is required</div>
                      <div *ngIf="f['name'].errors['minlength']">Teamname must be at least 6 characters</div>
                      <div *ngIf="f['name'].errors['maxlength']">
                        Teamname must not exceed 20 characters
                      </div>
                    </div>
                </span>
            </div>
          </div>
          <div class="flex-row">
            <div class="flex-item image-item">
                <label class="flex-label" data-step="2" data-intro="Description of the Season.">Description</label>
                <textarea id='season_description' formControlName="description" form="season_form_novalidated" name='season_description' placeholder="" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
                  maxlength='420' value="event description"></textarea>
                  <span class="mandatoryfld_lbl">
                
                    <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                      <div *ngIf="f['description'].errors['required']">Description is required</div>
                      <div *ngIf="f['description'].errors['minlength']">Description must be at least 20 characters</div>
                      <div *ngIf="f['description'].errors['maxlength']">
                        Teamname must not exceed 100 characters
                      </div>
                    </div>
                </span>
               
            </div>
          </div>
          <div class="flex-row">
          <div class="flex-item complete">
            <label class="flex-label"   data-step="4" data-intro="Location of your team." for="autoCompleteDivLocationForEvent_value"style="color: #747f85;">Location</label>
            <input  value="" id="hdnLatLong" placeholder="Search Location..." formControlName="location" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['location'].errors }" (keyup)="shwoLocations()"/>
            <span class="mandatoryfld_lbl">
                
              <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
                <div *ngIf="f['location'].errors['required']">Location is required</div>
                <div *ngIf="f['location'].errors['minlength']">Location must be at least 6 characters</div>
                <div *ngIf="f['location'].errors['maxlength']">
                 Location must not exceed 20 characters
                </div>
              </div>
          </span>
        </div>
          </div>
          <div class="flex-row">
            <div class="flex-item image-item">
              <label class="flex-label" data-step="8" data-intro="Upload 400px X 400px picture" for="user_image">Upload
                Picture</label>
              <div class="row">
              <div class="left-column large-4 medium-3 small-6 columns">
                <div id="user_image" enctype="multipart/form-data" >
                  <img alt="Choose a picture" src='assets/img/my-account-placeholder.png'  *ngIf="!upload1" title="Choose a picture"
                    width="150" height="150" id="my-account-profile-image" (click)="open1(mymodal1)" class="form-control">
                    <img alt="Choose a picture"  *ngIf="upload1" title="Choose a picture"
                    width="150" height="150" id="my-account-profile-image" [src]="uploadimageSrc" (click)="open1(mymodal1)" class="form-control" >
                    <span class="mandatoryfld_lbl">
                
                  </span>
                  <div >
                    <button type="button" class="removeOldImage msg_button bgradient-red" title="Remove Image"  (click)="removeImage()"  *ngIf="upload1" >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                </div>

  
              
                </div>
              </div>
              <div class="large-6 medium-6 small-6 columns">
                <p class="help-text">Click here to upload picture.</p>
              </div>
            </div>
            </div>
          </div>
        </div>

        <ng-template #mymodal1 let-modal>
          <div class="popup-box">
            <div class="container">
              <div class="heading">
                <div class="modal-heading">
                  <h6>Upload Picture</h6>
                  <a class="close-reveal-modal" title="Close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <div title="Close" class="closebtn ngdialog-close" style="padding-left: 40px;"></div>
                  </a>
                </div>
              </div>
              <div id="upload-demo" class="croppie-container" style="margin: 10px;
                border: dashed 1px #43464d;">
                <img src="../../../assets/img/user.png" style=" height: 50%;
        width: 90%;
        margin: 10px;" [src]="imageSrc" >
                <div class="cr-boundary" aria-dropeffect="none">
        
                  <div class="cr-viewport cr-vp-square" tabindex="0">
                    <div class="slide-container">
                      <input type="range" min="1" max="100" value="50" class="slider" id="myRange" aria-valuenow="100">
                    </div>
                    <div class="file">
                      <input type="file" name="file" class="file"
                        style="border: solid 1px #43464d; border-radius: 0px;"  formControlName="imageKey" (change)="onFileChange($event)">
                      <input type="submit" class="done" value="Done" (click)="show()" (click)="modal.dismiss('Cross click')" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="large-7 medium-12 small-12 columns column-second">
          <div class="flex-row">
            <div class="" id="buttonset">
              <button title="Cancel" type="button" class="btn-block red" style="color:white;" (click)="onReset()">
                <span>Cancel</span>

              </button>
              <button title="ok" type="submit" class="btn-block" style="color:white;">

              </button> &nbsp;&nbsp;
              <button title="ok" type="submit" class="btn-block">

                <span>Create</span>
              </button>
            </div>
          </div>

        </div>

      </div>
    </form>
  </div>
</div>
