<div class="row">
    <div>
        <div class="large-12 columns">
            <ul class="breadcrumbs mp_breadcrumbs">
                <li><a data-step="1" data-intro="Goes back to Season Page.">SEASON1</a></li>
                <li class="current">ADD EVENT
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sha-box manage_players_wrapper" id="addStaffSection">
    <a title="Help" id="login_box_button" class="help_button" style="margin: 23px 33px -36px 0px;" (click)="helpButton()"><i class="fa fa-info-circle"
        aria-hidden="true"></i><span>&nbsp;Help</span></a>
    <div class="row ribbonheighfix">
        <div class="manage_players_ribbon_parent">
            <div class="manage_players_back_ribbon bgradient"></div>
            <div class="manage_players_ribbon_child bgradient"></div>
            <div class="manage_players_ribbon_content">
                <div class="trophy"></div>
                <p class="ng-binding">ADD EVENT</p>
            </div>
        </div>
    </div>
    </div>
    <div class="manage_players_content">
         <div class="row">
            <div class="small-6 columns info_column">
                <div class="small-12 columns addtour-topbox">
                    <h6 class="custheadh6 ng-binding">MY TOURNAMENTS</h6>
                    <a data-step="2" data-intro="Create a new event to be added for event."
                         class="action-link"  routerLink="/event-create">CREATE
                        NEW</a>
                    <div class="small-6 searchb pt15 columns">
                        <form autocomplete="off" class="ng-pristine ng-valid">
                            <input data-step="3" data-intro="Search your event to be added." id="search"
                                placeholder="Search" ng-model="search.name" type="text"
                                class="ng-pristine ng-untouched ng-valid ng-empty">
                        </form>
                    </div>
                </div>
                <br> 
                <div class="" style="border-bottom: 1px solid #6196CC;" data-step="4" data-intro="Click or drag to add event to event page.">
                    <div class="bar" scrolly="showMoreNotifications()" style="overflow: scroll; height: 433px;" >
                <div class="mani_card" *ngFor="let item of hype">
                <div class="event_card sha-box card" style="background-image: url({{imageUrl+item.imageKey}}); background-size:cover;">
                    <div _ngcontent-jqj-c234="" title=" Event Name" class="name-event truncate">{{item.name}}</div>
                    <p class="date ng-binding" >{{item.startDateTime}}</p>
                    <span class="click add-icon-color ng-hide" ng-show="showAddSpan" title="Click to Add">Click to Add</span>
            </div>
            </div>
            </div>
        </div>
        </div>
         <div id="paticipating-players" class="small-6 columns" data-step="5" data-intro="Click or drag to remove event to event page.">
                <div class="row dark_grey pplayers extraheight">
                    <div class="large-6 small-6 columns">
                        <div class="pplayers-title" id="paticate-title">
                            <h6 class="ng-binding">ADDED EVENTS</h6>
                        </div>
                    </div>
                </div>
                <div id="paticipating-pl" class="row dark_grey pl15 pad-top-0">
                    <div class="bar dradAndDrop">
                       
                    </div>
                </div>
            </div> 
        </div>
    </div>




<div class="clear"></div>